develop/
develop/linesquaring.py
develop/main.py
develop/simulation.py
develop/2023senior/1013.png
develop/2023senior/2023senior.svg
develop/2023senior/2025.png
develop/2023senior/4050.png
develop/2023senior/resize.py
develop/apriltags/detect.py
develop/apriltags/detect1.py
develop/apriltags/apriltag/.gitignore
develop/apriltags/apriltag/CMakeLists.txt
develop/apriltags/apriltag/LICENSE.md
develop/apriltags/apriltag/README.md
develop/apriltags/apriltag/core/apriltag_demo.c
develop/apriltags/apriltag/core/apriltag_family.c
develop/apriltags/apriltag/core/apriltag_family.h
develop/apriltags/apriltag/core/apriltag_quad_thresh.c
develop/apriltags/apriltag/core/apriltag.c
develop/apriltags/apriltag/core/apriltag.h
develop/apriltags/apriltag/core/CMakeLists.txt
develop/apriltags/apriltag/core/g2d.c
develop/apriltags/apriltag/core/g2d.h
develop/apriltags/apriltag/core/tag16h5.c
develop/apriltags/apriltag/core/tag16h5.h
develop/apriltags/apriltag/core/tag25h7.c
develop/apriltags/apriltag/core/tag25h7.h
develop/apriltags/apriltag/core/tag25h9.c
develop/apriltags/apriltag/core/tag25h9.h
develop/apriltags/apriltag/core/tag36artoolkit.c
develop/apriltags/apriltag/core/tag36artoolkit.h
develop/apriltags/apriltag/core/tag36h10.c
develop/apriltags/apriltag/core/tag36h10.h
develop/apriltags/apriltag/core/tag36h11.c
develop/apriltags/apriltag/core/tag36h11.h
develop/apriltags/apriltag/core/common/assert_with_unused.h
develop/apriltags/apriltag/core/common/getopt.c
develop/apriltags/apriltag/core/common/getopt.h
develop/apriltags/apriltag/core/common/homography.c
develop/apriltags/apriltag/core/common/homography.h
develop/apriltags/apriltag/core/common/image_f32.c
develop/apriltags/apriltag/core/common/image_f32.h
develop/apriltags/apriltag/core/common/image_u8.c
develop/apriltags/apriltag/core/common/image_u8.h
develop/apriltags/apriltag/core/common/image_u32.c
develop/apriltags/apriltag/core/common/image_u32.h
develop/apriltags/apriltag/core/common/matd.c
develop/apriltags/apriltag/core/common/matd.h
develop/apriltags/apriltag/core/common/math_util.h
develop/apriltags/apriltag/core/common/pnm.c
develop/apriltags/apriltag/core/common/pnm.h
develop/apriltags/apriltag/core/common/postscript_utils.h
develop/apriltags/apriltag/core/common/string_util.c
develop/apriltags/apriltag/core/common/string_util.h
develop/apriltags/apriltag/core/common/svd22.c
develop/apriltags/apriltag/core/common/svd22.h
develop/apriltags/apriltag/core/common/thash_impl.h
develop/apriltags/apriltag/core/common/time_util.c
develop/apriltags/apriltag/core/common/time_util.h
develop/apriltags/apriltag/core/common/timeprofile.h
develop/apriltags/apriltag/core/common/unionfind.c
develop/apriltags/apriltag/core/common/unionfind.h
develop/apriltags/apriltag/core/common/workerpool.c
develop/apriltags/apriltag/core/common/workerpool.h
develop/apriltags/apriltag/core/common/zarray.c
develop/apriltags/apriltag/core/common/zarray.h
develop/apriltags/apriltag/core/common/zhash.c
develop/apriltags/apriltag/core/common/zhash.h
develop/apriltags/apriltag/core/common/zmaxheap.c
develop/apriltags/apriltag/core/common/zmaxheap.h
develop/apriltags/apriltag/core/contrib/apriltag_quad_contour.c
develop/apriltags/apriltag/core/contrib/apriltag_quad_contour.h
develop/apriltags/apriltag/core/contrib/apriltag_vis.c
develop/apriltags/apriltag/core/contrib/apriltag_vis.h
develop/apriltags/apriltag/core/contrib/box.c
develop/apriltags/apriltag/core/contrib/box.h
develop/apriltags/apriltag/core/contrib/contour_test.c
develop/apriltags/apriltag/core/contrib/contour.c
develop/apriltags/apriltag/core/contrib/contour.h
develop/apriltags/apriltag/core/contrib/lm_test.cpp
develop/apriltags/apriltag/core/contrib/lm.c
develop/apriltags/apriltag/core/contrib/lm.h
develop/apriltags/apriltag/core/contrib/maketags.c
develop/apriltags/apriltag/core/contrib/pdf_test.cpp
develop/apriltags/apriltag/core/contrib/pdfutil.c
develop/apriltags/apriltag/core/contrib/pdfutil.h
develop/apriltags/apriltag/core/contrib/pose_test.c
develop/apriltags/apriltag/core/contrib/pose.c
develop/apriltags/apriltag/core/contrib/pose.h
develop/apriltags/apriltag/images/fat_tags.png
develop/apriltags/apriltag/images/clipboard/clipboard00.png
develop/apriltags/apriltag/images/clipboard/clipboard01.png
develop/apriltags/apriltag/images/clipboard/clipboard02.png
develop/apriltags/apriltag/images/clipboard/clipboard03.png
develop/apriltags/apriltag/images/clipboard/clipboard04.png
develop/apriltags/apriltag/images/clipboard/clipboard05.png
develop/apriltags/apriltag/images/clipboard/clipboard06.png
develop/apriltags/apriltag/images/clipboard/clipboard07.png
develop/apriltags/apriltag/images/clipboard/clipboard08.png
develop/apriltags/apriltag/images/clipboard/clipboard09.png
develop/apriltags/apriltag/images/hallway/IMG_0612.jpg
develop/apriltags/apriltag/images/hallway/IMG_0613.jpg
develop/apriltags/apriltag/images/hallway/IMG_0614.jpg
develop/apriltags/apriltag/images/hallway/IMG_0615.jpg
develop/apriltags/apriltag/images/hallway/IMG_0617.jpg
develop/apriltags/apriltag/images/mapping_feb_2014/groundtruth.txt
develop/apriltags/apriltag/images/mapping_feb_2014/IMG_1368.JPG
develop/apriltags/apriltag/images/mapping_feb_2014/IMG_1369.JPG
develop/apriltags/apriltag/images/mapping_feb_2014/IMG_1370.JPG
develop/apriltags/apriltag/images/mapping_feb_2014/IMG_1371.JPG
develop/apriltags/apriltag/images/mapping_feb_2014/IMG_1372.JPG
develop/apriltags/apriltag/images/mapping_feb_2014/IMG_1373.JPG
develop/apriltags/apriltag/images/mapping_feb_2014/IMG_1374.JPG
develop/apriltags/apriltag/images/mapping_feb_2014/IMG_1375.JPG
develop/apriltags/apriltag/images/mapping_feb_2014/IMG_1376.JPG
develop/apriltags/apriltag/images/mapping_feb_2014/IMG_1377.JPG
develop/apriltags/apriltag/images/mapping_feb_2014/IMG_1378.JPG
develop/apriltags/apriltag/images/mapping_feb_2014/IMG_1379.JPG
develop/apriltags/apriltag/images/mapping_feb_2014/IMG_1380.JPG
develop/apriltags/apriltag/images/mapping_feb_2014/IMG_1381.JPG
develop/apriltags/apriltag/images/mapping_feb_2014/IMG_1382.JPG
develop/apriltags/apriltag/images/mapping_feb_2014/IMG_1383.JPG
develop/apriltags/apriltag/images/mapping_feb_2014/IMG_1384.JPG
develop/apriltags/apriltag/images/mapping_feb_2014/IMG_1385.JPG
develop/apriltags/apriltag/images/mapping_feb_2014/IMG_1386.JPG
develop/apriltags/apriltag/images/mapping_feb_2014/IMG_1387.JPG
develop/apriltags/apriltag/images/mapping_feb_2014/IMG_1388.JPG
develop/apriltags/apriltag/images/mapping_feb_2014/IMG_1389.JPG
develop/apriltags/apriltag/images/mapping_feb_2014/IMG_1390.JPG
develop/apriltags/apriltag/images/mapping_feb_2014/IMG_1391.JPG
develop/apriltags/apriltag/images/mapping_feb_2014/IMG_1392.JPG
develop/apriltags/apriltag/images/mapping_feb_2014/IMG_1393.JPG
develop/apriltags/apriltag/images/mapping_feb_2014/IMG_1394.JPG
develop/apriltags/apriltag/images/mapping_feb_2014/IMG_1395.JPG
develop/apriltags/apriltag/images/mapping_feb_2014/IMG_1396.JPG
develop/apriltags/apriltag/images/mapping_feb_2014/IMG_1397.JPG
develop/apriltags/apriltag/images/mapping_feb_2014/IMG_1398.JPG
develop/apriltags/apriltag/images/mapping_feb_2014/IMG_1399.JPG
develop/apriltags/apriltag/images/mapping_feb_2014/IMG_1400.JPG
develop/apriltags/apriltag/images/mapping_feb_2014/IMG_1401.JPG
develop/apriltags/apriltag/images/mapping_feb_2014/IMG_1402.JPG
develop/apriltags/apriltag/images/mapping_feb_2014/IMG_1403.JPG
develop/apriltags/apriltag/images/mapping_feb_2014/IMG_1404.JPG
develop/apriltags/apriltag/images/mapping_feb_2014/IMG_1405.JPG
develop/apriltags/apriltag/images/mapping_feb_2014/IMG_1406.JPG
develop/apriltags/apriltag/images/mapping_feb_2014/IMG_1407.JPG
develop/apriltags/apriltag/images/mapping_feb_2014/IMG_1408.JPG
develop/apriltags/apriltag/images/mapping_feb_2014/IMG_1409.JPG
develop/apriltags/apriltag/images/mapping_feb_2014/IMG_1410.JPG
develop/apriltags/apriltag/images/mapping_feb_2014/IMG_1411.JPG
develop/apriltags/apriltag/images/mapping_feb_2014/IMG_1412.JPG
develop/apriltags/apriltag/images/mapping_feb_2014/IMG_1413.JPG
develop/apriltags/apriltag/images/mapping_feb_2014/IMG_1414.JPG
develop/apriltags/apriltag/images/mapping_feb_2014/IMG_1415.JPG
develop/apriltags/apriltag/images/mapping_feb_2014/IMG_1416.JPG
develop/apriltags/apriltag/images/mapping_feb_2014/IMG_1417.JPG
develop/apriltags/apriltag/images/mapping_feb_2014/IMG_1418.JPG
develop/apriltags/apriltag/images/mapping_feb_2014/IMG_1419.JPG
develop/apriltags/apriltag/images/mapping_feb_2014/IMG_1420.JPG
develop/apriltags/apriltag/images/mapping_feb_2014/IMG_1421.JPG
develop/apriltags/apriltag/images/mapping_feb_2014/IMG_1422.JPG
develop/apriltags/apriltag/images/mapping_feb_2014/IMG_1423.JPG
develop/apriltags/apriltag/images/mapping_feb_2014/IMG_1424.JPG
develop/apriltags/apriltag/images/mapping_feb_2014/IMG_1425.JPG
develop/apriltags/apriltag/images/mapping_feb_2014/IMG_1426.JPG
develop/apriltags/apriltag/images/mapping_feb_2014/IMG_1427.JPG
develop/apriltags/apriltag/images/mapping_feb_2014/IMG_1428.JPG
develop/apriltags/apriltag/images/mapping_feb_2014/IMG_1429.JPG
develop/apriltags/apriltag/images/mapping_feb_2014/IMG_1430.JPG
develop/apriltags/apriltag/images/mapping_feb_2014/IMG_1431.JPG
develop/apriltags/apriltag/images/mapping_feb_2014/IMG_1450.JPG
develop/apriltags/apriltag/images/mapping_feb_2014/IMG_1451.JPG
develop/apriltags/apriltag/images/mapping_feb_2014/IMG_1452.JPG
develop/apriltags/apriltag/images/mapping_feb_2014/IMG_1453.JPG
develop/apriltags/apriltag/images/mapping_feb_2014/IMG_1454.JPG
develop/apriltags/apriltag/images/mapping_feb_2014/IMG_1455.JPG
develop/apriltags/apriltag/images/mapping_feb_2014/IMG_1457.JPG
develop/apriltags/apriltag/images/mapping_feb_2014/IMG_1458.JPG
develop/apriltags/apriltag/images/mapping_feb_2014/calibration/calib.txt
develop/apriltags/apriltag/images/mapping_feb_2014/calibration/IMG_1432.JPG
develop/apriltags/apriltag/images/mapping_feb_2014/calibration/IMG_1433.JPG
develop/apriltags/apriltag/images/mapping_feb_2014/calibration/IMG_1434.JPG
develop/apriltags/apriltag/images/mapping_feb_2014/calibration/IMG_1435.JPG
develop/apriltags/apriltag/images/mapping_feb_2014/calibration/IMG_1436.JPG
develop/apriltags/apriltag/images/mapping_feb_2014/calibration/IMG_1437.JPG
develop/apriltags/apriltag/images/mapping_feb_2014/calibration/IMG_1438.JPG
develop/apriltags/apriltag/images/mapping_feb_2014/calibration/IMG_1439.JPG
develop/apriltags/apriltag/images/mapping_feb_2014/calibration/IMG_1440.JPG
develop/apriltags/apriltag/images/mapping_feb_2014/calibration/IMG_1441.JPG
develop/apriltags/apriltag/images/mapping_feb_2014/calibration/IMG_1443.JPG
develop/apriltags/apriltag/images/mapping_feb_2014/calibration/IMG_1444.JPG
develop/apriltags/apriltag/images/mapping_feb_2014/calibration/IMG_1445.JPG
develop/apriltags/apriltag/images/mapping_feb_2014/calibration/IMG_1446.JPG
develop/apriltags/apriltag/images/mapping_feb_2014/calibration/IMG_1447.JPG
develop/apriltags/apriltag/images/mapping_feb_2014/calibration/IMG_1448.JPG
develop/apriltags/apriltag/images/mapping_feb_2014/calibration/IMG_1449.JPG
develop/apriltags/apriltag/opencv/apriltag_camera_demo.cpp
develop/apriltags/apriltag/opencv/apriltag_opencv_demo.cpp
develop/apriltags/apriltag/opencv/apriltag_opencv.cpp
develop/apriltags/apriltag/opencv/apriltag_opencv.h
develop/apriltags/apriltag/opencv/box_test.cpp
develop/apriltags/apriltag/opencv/CMakeLists.txt
develop/apriltags/apriltag/opencv/contour_bench.cpp
develop/apriltags/apriltag/opencv/contour_line_sweep_test.cpp
develop/apriltags/apriltag/python/apriltag.py
develop/apriltags/apriltag/python/calibrate_camera.py
develop/apriltags/apriltag/python/camtest.py
